# Introduction and Basics
Installation

Python Org, Python 3

Variables

Print function

Input from user

Data Types

Type Conversion

First Program

## Variable

In [1]:
num=10
char='a'
c=10.98

## Print function

In [2]:
print("Hello Ashish")

Hello Ashish

In [3]:
print("Hello")
print("Ashish")

Hello
Ashish

### \n --> new line character
### \t --> Horizontal tab - space of 8 character
### python follow top dow approach

In [4]:
print("Hello \nAshish")

Hello
Ashish

In [5]:
print("Ashish \n\n\nZapadiya")

Ashish


Zapadiya

In [6]:
print("Ashish\tZapadiya")

Ashish	Zapadiya

## Basic print Question

In [ ]:
*
**
***

In [7]:
print("*\n**\n***")

*
**
***

In [ ]:
Name
   8    College
      16        City

In [8]:
print("Ashish\n\tGEC-Rajkot\n\t\tRajkot")

Ashish
	GEC-Rajkot
		Rajkot

In [ ]:
    *
*        *
    *

In [9]:
print("    *\n*\t*\n    *")

    *
*	*
    *

In [10]:
print('''
    *
*       *
    *
''')

    *
*       *
    *

## Data Types
### Python supports dynamic dataypes

In [11]:
a = 10
print(a)

10

In [12]:
b = 10.40
print(b)

10.4

In [13]:
c = "Ashish"
print(c)

Ashish

In [ ]:
type()

In [14]:
a = 10 
b = 10.402
c = "Ashish Zapadiya"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## User input

In [15]:
a = input()

print(a)

23
23

In [16]:
a = input("Enter your age : ")
print(a)

Enter your age : 22
22

## Type Conversion / Casting

In [17]:
a = 10.23745

print(a)
print(type(a))

b=int(a)

print(b)
print(type(b))

c=str(b)

print(c)
print(type(c))

d=int(c)

print(d)
print(type(d))

10.23745
<class 'float'>
10
<class 'int'>
10
<class 'str'>
10
<class 'int'>

### WAP to enter 2 number from user and print addition of them

In [18]:
a = input("Enter first Number : ")
b = input("Enter secound Number : ")

c = a + b

print(c)
print(type(c))
print(type(a))

Enter first Number : 3
Enter secound Number : 4
34
<class 'str'>
<class 'str'>

In [19]:
# get input is a string

"17" + "82"

'1782'

In [20]:
print(type(a))

<class 'str'>

In [23]:
a = int(input("Enter first Number : "))
b = int(input("Enter secound Number : "))

c = a + b

print(c)

Enter first Number : 34
Enter secound Number : 5
39

In [24]:
a = int(input("Enter first Number : "))
b = int(input("Enter secound Number : "))

c = a + b

print("Addition of",c)

Enter first Number : 34
Enter secound Number : 5
Addition of 39

In [25]:
a = int(input("Enter first Number : "))
b = int(input("Enter secound Number : "))

c = a + b

print("Addition of",a,"and",b,"is",c)

Enter first Number : 2
Enter secound Number : 3
Addition of 2 and 3 is 5